@import "variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: $textColor;
  background-color: $backgroundColor;
}

:global {
  #root {
    min-height: 100vh;
  }

  .main {
    padding: 20px;
  }
}

h1,
h2,
h3 {
  color: $highlightedTextColor;
  text-transform: uppercase;
}
